<div class="page {{ pageClass }}" ng-view></div>>
<h1>MainPages#home</h1>
<p>Find me in app/views/main_pages/home.html.erb</p>
<a href="#about" class="btn btn-success btn-lg">About</a>
<a href="#menu" class="btn btn-danger btn-lg">Menu</a>
