// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HOME PAGE

.homePage {
  margin-top: 500px !important;
}

#myCarousel {
  margin-bottom: 110px;
}
.carousel-inner {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.pagecontent {
  border-style: solid;
  border-width: 5px;
  margin-top: 100px;
}

.fill {
  width: 100%;
}

// MENU PAGE

.carousel .item {
    width: 100% !important; /*slider width*/
}
.carousel .item img {
    width: 100% !important; /*img width*/
   overflow-y: visible;
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
}