// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// HOME PAGE

.homePage {
  margin-top: 500px;
}

#myCarousel {
  margin-bottom: 116px;
}

.pagecontent {
  border-style: solid;
  border-width: 5px;
}

.fill {
  width: 100%;
}

// MENU PAGE

