// NAVBAR

#nav-id {
  font-size: 20px;
  width: auto;
  min-height: 75px;
  .navbar-nav > {
    li > a {
      color: black;
      background-color: rgba(248, 248, 248, 0);
      &:hover, &:focus {
        -webkit-animation: glow .7s infinite alternate;
        @-webkit-keyframes glow {
          to {
            color: red;
            text-shadow: 0 0 10px black;
          }
        }
      }
    }
    .active > a {
      background-color: rgba(70, 219, 83, 1);
      &:hover, &:focus {
        color: rgba(85, 85, 85, 1);
        background-color: rgba(70, 219, 83, 1);
      }
    }
  }
  .navbar-toggle {
    border-color: black;
    &:hover, &:focus, .icon-bar {
      background-color: #aaa;
    }
    &:hover .icon-bar, &:focus .icon-bar {
      background-color: #aaa;
    }
  }
  .navbutton {
    text-align: center;
    .leftnav {
      padding-left: 6%;
      li {
        width: 120px;
      }
    }
    .rightnav {
      padding-right: 6%;
      li {
        width: 120px;
      }
    }
  }

  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    margin-top: -16px;
  }
}

// MEDIA QUERIES

@media screen and (min-width: 992px) {
  .navbutton {
    .leftnav {
      padding-left: 16% !important;
    }
    .rightnav {
      padding-right: 16% !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbutton {
    .leftnav {
      padding-left: 22% !important;
    }
    .rightnav {
      padding-right: 22% !important;
    }
  }
}

// FOOTER

.footitem {
  text-align: center;
  padding-top: 15px;
}
.socialmeds {
  padding-top: 15px;
}
